pyrogram==2.0.106
tgcrypto
pytgcalls==3.0.0.dev22
aiohttp
aiofiles
asyncio
requests
youtube-search-python
yt-dlp
python-dotenv
pillow
yarl
multidict
attrs
typing-extensions
certifi
pysocks
httpx
idna
