# CORE LIBRARIES
pyrogram==2.0.106
tgcrypto==1.2.5

# VOICE CALLS (GIT SE — TERMUX/VPS PE WORKING)
git+https://github.com/MarshalX/tgcalls.git
git+https://github.com/pytgcalls/pytgcalls.git

# YOUTUBE DOWNLOAD + SEARCH
yt-dlp==2023.12.30
youtube-search-python==1.6.2

# OPTIONAL (STABILITY + SPEED)
PySocks==1.7.1
aiohttp==3.9.5
ffmpeg-python==0.2.0
requests==2.32.3
cachetools==5.5.0
